@import 'normalize.less/normalize.less';


body {
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  &, &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &, &.nowrap {
    flex-wrap: nowrap;
  }
  &.start {
    align-items: flex-start;
  }

  & > .grow {
    flex-grow: 1;
    width: 100%;
  }
}

.actions > div {
  display: block;
  margin: 0 0 20% 0;
}
